openapi: 3.2.0
info:
  title: GRIN Therapeutics Content Search API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind grintherapeutics.com.
  description: The read-only content surface GRIN Therapeutics exposes at https://grintherapeutics.com/wp-json. GRIN Therapeutics is a clinical-stage biotechnology company developing radiprodil for GRIN-related neurodevelopmental disorder, tuberous sclerosis complex and focal cortical dysplasia type II; it runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-04. Write operations, `/wp/v2/settings`, the `wp-abilities/v1` namespace, the `contact-form-7/v1` namespace and the `mailin/v1` namespace all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: GRIN Therapeutics
    url: https://grintherapeutics.com/contact/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://grintherapeutics.com/wp-json/ (138 routes, namespaces oembed/1.0, contact-form-7/v1, mailin/v1, wp/v2, wp-site-health/v1, wp-block-editor/v1, wp-abilities/v1) and verified against live anonymous responses on 2026-08-04. Generator reported WordPress 7.0.2. Every parameter below appears verbatim in the route index `args` for that endpoint. GRIN Therapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
servers:
- url: https://grintherapeutics.com/wp-json
  description: Production content API
tags:
- name: search
  description: Cross-content search across published objects.
paths:
  /wp/v2/search:
    get:
      tags:
      - search
      operationId: searchContent
      summary: Search across content
      description: Cross-content search returning lightweight result objects (id, title, url, type, subtype) across every searchable post type.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - name: type
        in: query
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      - name: subtype
        in: query
        schema:
          type: array
          items:
            type: string
          default:
          - any
      responses:
        '200':
          description: Search results.
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
              examples:
                radiprodil:
                  summary: Observed result for search=radiprodil on 2026-08-04
                  value:
                  - id: 11960
                    title: Resources for patients and caregivers
                    url: https://grintherapeutics.com/resources-for-patients-and-caregivers/
                    type: post
                    subtype: page
        '400':
          $ref: '#/components/responses/InvalidParam'
components:
  parameters:
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response. Anonymous callers may only use `view` and `embed`.
      schema:
        type: string
        enum:
        - view
        - embed
        - edit
        default: view
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in result set. Values outside 1-100 return a 400 rest_invalid_param.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Include:
      name: include
      in: query
      description: Limit result set to specific IDs.
      schema:
        type: array
        items:
          type: integer
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific IDs.
      schema:
        type: array
        items:
          type: integer
  headers:
    XWPTotal:
      description: Total number of matching records across all pages.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of result pages at the current per_page.
      schema:
        type: integer
  responses:
    InvalidParam:
      description: One or more query parameters failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            per-page-out-of-bounds:
              value:
                code: rest_invalid_param
                message: 'Invalid parameter(s): per_page'
                data:
                  status: 400
                  params:
                    per_page: per_page must be between 1 (inclusive) and 100 (inclusive)
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope. Note this is NOT RFC 9457 application/problem+json — it is served as application/json with code/message/data.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error slug
          e.g. rest_post_invalid_id.: null
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              additionalProperties:
                type: string
            details:
              type: object
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          type: object
